<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YogAI Data</title>
</head>
<body>
    <div>
        <h1>Record Yoga Pose</h1>
    </div>
    <div class="main-cont">
        <% poses.forEach((pose)=>{%>
            <div class="card">
                <img src=<%=pose.img%>  alt="Avatar" style="width:100%">
                <div class="container">
                  <h4><b><%= pose.name%></b></h4>
                  <p><%= pose.description%></p>
                  <a href=<%=`/record/${pose._id}`%>><button>Record</button></a>
                </div>
            </div>
        <%})%>
    </div>
</body>

<style>

  .main-cont{
      display: flex;
      flex-direction: row;
  }
 .card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  border-radius: 5px;
  margin: 10px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

img {
  border-radius: 5px 5px 0 0;
}

.container {
  padding: 2px 16px;
}
</style>
</html>