<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YoAI Data</title>
</head>
<body>
    <div>
        <h1>Record Yoga Pose</h1>
    </div>
    <% poses.forEach((pose)=>{%>
        <div>
            <h2><%= pose.name%></h2>
            <img src=<%=pose.img%> width="30%"/>
            <p><%= pose.description%></p>
            <a href=<%=`/record/${pose._id}`%>><button>Record</button></a>
        </div>
    <%})%>
</body>
</html>