<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<script src="https://cdn.jsdelivr.net/npm/@mediapipe/camera_utils/camera_utils.js" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/@mediapipe/control_utils/control_utils.js" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/@mediapipe/drawing_utils/drawing_utils.js" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/@mediapipe/pose/pose.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/style.css">
	</head>

	<body>

		<div class="container">
			<video class="input_video"></video>
			<canvas class="input_canvas" width="1600px" height="1200px"></canvas>
            <p class="hidden" id="poseID"><%=pose._id%></p>
		</div>
	</body>
	<script src="/js/playground.js" defer></script>
</html>
